In [56]:
from googleapiclient.discovery import build
from dateutil import parser
import pprint
import pandas as pd
from IPython.display import JSON


# NLP
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
nltk.download('punkt')
from wordcloud import WordCloud

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [58]:
api_key = 'AIzaSyACwFtOxq0Q5Oa-G894HNqGon4SYfe0iZs'

In [59]:
channel_ids = ['UCtYLUTtgS3k1Fg4y5tAhLbw', # Statquest
               'UCCezIgC97PvUuR4_gbFUs5g', # Corey Schafer
               'UCLLw7jmFsvfIVaUFsLs8mlQ', # Luke Barousse 
               'UCiT9RITQ9PW6BhXK0y2jaeg', # Ken Jee
               'UC7cs8q-gJRlGwj4A8OmCmXg', # Alex the analyst
               'UC2UXDak6o7rBm23k3Vv5dww', # Tina Huang
               'UCV0qA-eDDICsRR9rPcnG7tw', # Joma Tech
               'UCKnIITjitij24OHERpbQgUQ', # Valentin Elizalde
               'UCtKYqTLr8XDyqJj3QasivXg', # Dylan Anderson
               'UCDPM_n1atn2ijUwHd0NNRQw'  # Cold Play
               'UCftcLVz-jtPXoH3cWUUDwYw', # Bitwit Kyle
               'UCFFbwnve3yF62-tVXkTyHqg', # Zee Music Company
              ]

In [60]:
api_service_name = "youtube"
api_version = "v3"

# Get credentials and create an API client
youtube = build(
    api_service_name, api_version, developerKey=api_key)

In [61]:
def get_channel_stats(youtube, channel_ids):
        
    all_data = []
    
    request = youtube.channels().list(
        part="snippet,contentDetails,statistics",
        id=','.join(channel_ids)
    )
    response = request.execute()

    # loop through items
    for item in response['items']:
        data = {'channelName': item['snippet']['title'],
                'subscribers': item['statistics']['subscriberCount'],
                'views': item['statistics']['viewCount'],
                'totalVideos': item['statistics']['videoCount'],
                'playlistId': item['contentDetails']['relatedPlaylists']['uploads']
        }
        
        all_data.append(data)
        
    return(pd.DataFrame(all_data))

def get_video_ids(youtube, playlist_id):
    
    video_ids = []
    
    request = youtube.playlistItems().list(
        part="snippet,contentDetails",
        playlistId=playlist_id,
        maxResults = 50
    )
    response = request.execute()
    
    for item in response['items']:
        video_ids.append(item['contentDetails']['videoId'])
        
    next_page_token = response.get('nextPageToken')
    while next_page_token is not None:
        request = youtube.playlistItems().list(
                    part='contentDetails',
                    playlistId = playlist_id,
                    maxResults = 50,
                    pageToken = next_page_token)
        response = request.execute()

        for item in response['items']:
            video_ids.append(item['contentDetails']['videoId'])

        next_page_token = response.get('nextPageToken')
        
    return video_ids
    
    
def get_video_details(youtube, video_ids):

    all_video_info = []
    
    for i in range(0, len(video_ids), 50):
        request = youtube.videos().list(
            part="snippet,contentDetails,statistics",
            id=','.join(video_ids[i:i+50])
        )
        response = request.execute() 

        for video in response['items']:
            stats_to_keep = {'snippet': ['channelTitle', 'title', 'description', 'tags', 'publishedAt'],
                             'statistics': ['viewCount', 'likeCount', 'favouriteCount', 'commentCount'],
                             'contentDetails': ['duration', 'definition', 'caption']
                            }
            video_info = {}
            video_info['video_id'] = video['id']

            for k in stats_to_keep.keys():
                for v in stats_to_keep[k]:
                    try:
                        video_info[v] = video[k][v]
                    except:
                        video_info[v] = None

            all_video_info.append(video_info)
    
    return pd.DataFrame(all_video_info)

In [62]:
channel_stats = get_channel_stats(youtube, channel_ids)

In [63]:
channel_stats

,channelName,subscribers,views,totalVideos,playlistId
0,Ken Jee,227000,7239476,242,UUiT9RITQ9PW6BhXK0y2jaeg
1,Tina Huang,424000,17194546,111,UU2UXDak6o7rBm23k3Vv5dww
2,legends editzz,4,839,12,UUtKYqTLr8XDyqJj3QasivXg
3,StatQuest with Josh Starmer,843000,40313457,226,UUtYLUTtgS3k1Fg4y5tAhLbw
4,Zee Music Company,90400000,52237039615,7286,UUFFbwnve3yF62-tVXkTyHqg
5,Corey Schafer,1020000,80322599,230,UUCezIgC97PvUuR4_gbFUs5g
6,Luke Barousse,277000,12110794,88,UULLw7jmFsvfIVaUFsLs8mlQ
7,Joma Tech,2020000,159282035,106,UUV0qA-eDDICsRR9rPcnG7tw
8,Alex The Analyst,323000,12726639,179,UU7cs8q-gJRlGwj4A8OmCmXg
9,Valentin Elizalde,25300,1193103235,6,UUKnIITjitij24OHERpbQgUQ

In [64]:

column_headers = ['video_id', 'channelTitle', 'title', 'description', 'tags', 'publishedAt', 'viewCount', 'likeCount', 'favouriteCount', 'commentCount', 'duration', 'definition', 'caption']
video_dataframe = pd.DataFrame()
video_dataframe['video_id']=''
video_dataframe['channelTitle']=''
video_dataframe['description']=''
video_dataframe['tags']=''
video_dataframe['publishedAt']=''
video_dataframe['viewCount']=''
video_dataframe['favouriteCount']=''
video_dataframe['commentCount']=''
video_dataframe['duration']=''
video_dataframe['definition']=''
video_dataframe['caption']=''

for i in channel_stats["playlistId"]:
  playlist_id = str(i)
  print('Getting data  for:' + playlist_id)
  video_ids = get_video_ids(youtube, playlist_id)
  video_df = get_video_details(youtube, video_ids) 
  video_dataframe=pd.concat([video_dataframe,video_df])

Getting data  for:UUiT9RITQ9PW6BhXK0y2jaeg
Getting data  for:UU2UXDak6o7rBm23k3Vv5dww
Getting data  for:UUtKYqTLr8XDyqJj3QasivXg
Getting data  for:UUtYLUTtgS3k1Fg4y5tAhLbw
Getting data  for:UUFFbwnve3yF62-tVXkTyHqg
Getting data  for:UUCezIgC97PvUuR4_gbFUs5g
Getting data  for:UULLw7jmFsvfIVaUFsLs8mlQ
Getting data  for:UUV0qA-eDDICsRR9rPcnG7tw
Getting data  for:UU7cs8q-gJRlGwj4A8OmCmXg
Getting data  for:UUKnIITjitij24OHERpbQgUQ

In [65]:
video_dataframe

,video_id,channelTitle,description,tags,publishedAt,viewCount,favouriteCount,commentCount,duration,definition,caption,title,likeCount
0,3NJOWWvNK3I,Ken Jee,Programming / Coding is one of the most import...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-11-14T13:00:02Z,14707,None,41,PT13M54S,hd,false,The Essential Programming Concepts For Learnin...,626
1,4_VtMWJSo1o,Ken Jee,What happens when you put 19 data nerds in a h...,"[Data Science, Ken Jee, Machine Learning, data...",2022-10-07T13:00:04Z,9024,None,55,PT7M17S,hd,false,The Data Content House: What You Missed,312
2,OybXWl3IWvI,Ken Jee,#DataScience #kenjee \nGet your 57% discount ...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-29T20:40:31Z,39098,None,112,PT11M24S,hd,false,Is Data Science A Good Career?,1321
3,nRHPQ5ZeB5Y,Ken Jee,Watch the whole episode here: https://brightda...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-27T17:21:13Z,3825,None,21,PT58S,hd,false,IRON ANALYST (Teaser) #shorts,244
4,0JWC4M0Qhqc,Ken Jee,#DataScience #KenJee #brightdata #brightdataho...,"[Data Science, Ken Jee, Machine Learning, data...",2022-08-29T13:00:01Z,14684,None,127,PT5M25S,hd,false,When a New Data Scientist Joins The Team,669
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,1wauorb3vyg,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing So...,"[Valentín, Elizalde, Soy, Así, Fonovisa, Latin...",2015-05-15T07:00:01Z,108326606,None,9463,PT3M38S,sd,false,Valentín Elizalde - Soy Así (Chyron),432980
176,nnrp3drhw0k,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing Lo...,"[Valentín, Elizalde, Lobo, Domesticado, Regio,...",2011-02-18T17:45:06Z,44589484,None,3967,PT2M57S,sd,false,Valentín Elizalde - Lobo Domesticado,172615
177,PK1Pwx8y8GI,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing La...,"[Valentín, Elizalde, La, Más, Deseada, Fonovis...",2010-12-23T15:04:29Z,42504840,None,3248,PT3M,sd,false,Valentín Elizalde - La Más Deseada,144422
178,Yqpj6ig-OUc,ValentinElizaldeVEVO,Music video by Valentin Elizalde performing Te...,"[Valentin, Elizalde, Int'l, Latin, America, Va...",2009-11-30T17:32:12Z,83384402,None,6956,PT3M12S,sd,false,Valentín Elizalde - Te Quiero Así,390011
179,tE11Hc8Bqwo,ValentinElizaldeVEVO,Music video by Valentin Elizalde performing Co...,"[Valentin, Elizalde, Int'l, Latin, America, ve...",2009-11-22T11:03:17Z,27118995,None,2285,PT3M54S,sd,false,Valentín Elizalde - Como Me Duele,94568

In [66]:
def get_comments_in_videos(youtube, video_ids):

    all_comments = []
    
    for video_id in video_ids:
        try:   
            request = youtube.commentThreads().list(
                part="snippet,replies",
                videoId=video_id
            )
            response = request.execute()
        
            comments_in_video = [comment['snippet']['topLevelComment']['snippet']['textOriginal'] for comment in response['items'][0:10]]
            comments_in_video_info = {'video_id': video_id, 'comments': comments_in_video}

            all_comments.append(comments_in_video_info)
            
        except: 
            # When error occurs - most likely because comments are disabled on a video
            print('Could not get comments for video ' + video_id)
        
    return pd.DataFrame(all_comments)

In [67]:
channel_data = get_channel_stats(youtube, channel_ids)

In [68]:
# Convert count columns to numeric columns
numeric_cols = ['subscribers', 'views', 'totalVideos']
channel_data[numeric_cols] = channel_data[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [69]:
comments_df = pd.DataFrame()

for c in channel_data['channelName'].unique():
    print("Getting video information from channel: " + c)
    playlist_id = channel_data.loc[channel_data['channelName']== c, 'playlistId'].iloc[0]
    video_ids = get_video_ids(youtube, playlist_id)
    
    # get comment data
    comments_data = get_comments_in_videos(youtube, video_ids)

    # append video data together and comment data toghether
    comments_df = comments_df.append(comments_data, ignore_index=True)

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Getting video information from channel: legends editzz
Could not get comments for video -bx2_33L-h4
Getting video information from channel: Luke Barousse
Getting video information from channel: StatQuest with Josh Starmer

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video BgxBEKhaqyQ
Getting video information from channel: Joma Tech

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video Z0N7vqSgRBY
Getting video information from channel: Zee Music Company

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video THpI8SZMFao

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video aftl_Ls0NS0

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video mwSF_4ODJvw

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video xNYz-d174wM

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video hUeaRLicuTA

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video pPiGxAIf1sc

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video QBwORWDf6fA

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video 6W9fuU8vG0U

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video ZBoYXu_SLDA

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video lJ7_Etx6SW8

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video KxHEkYeYP94

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"
WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video -_HtAw6w2M4
Could not get comments for video X05VL0hgm8Y

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video ubIYWW8Qj_k

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video rF0d0pA24Uw

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video UsHZyv-lsPA

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video G7iakbuBpMI

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video qgsBTKMCQXQ

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video mADRfl4iCUI

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video MmkzXgNybBo
Getting video information from channel: Alex The Analyst
Getting video information from channel: Valentin Elizalde

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video EFuF2b404M0
Getting video information from channel: Tina Huang
Getting video information from channel: Ken Jee
Getting video information from channel: Corey Schafer

WARNING:googleapiclient.http:Encountered 403 Forbidden with reason "commentsDisabled"

Could not get comments for video ZB7c00QgmdQ

In [70]:
comments_df

         video_id                                           comments
0     IqET94X8WrM                                                 []
1     R7eAjr-eMng         [woahhh, Coolest collisions ive ever seen]
2     xRCQLAjMMas                                                 []
3     DoaaxvT68KM                                                 []
4     KvpPHl8O1QY                                                 []
...           ...                                                ...
8632  zlWkB4bzZsg  [such a good boy!, break from programming!, si...
8633  _63O1hgJTaQ  [which US state do you live? Greetings from br...
8634  sEJGynuNdWw  [the only tutorial i'll ever need, such a good...
8635  iT1SE6AMbq0  [such a good boy!, break from programming!, At...
8636  UI1x1nevQD0  [Your dog is absolutely precious! Hope the pup...

[8637 rows x 2 columns]

In [71]:
final_df = pd.merge(video_dataframe, comments_df, on='video_id')

In [72]:
final_df.head(10)

,video_id,channelTitle,description,tags,publishedAt,viewCount,favouriteCount,commentCount,duration,definition,caption,title,likeCount,comments
0,3NJOWWvNK3I,Ken Jee,Programming / Coding is one of the most import...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-11-14T13:00:02Z,14707,None,41,PT13M54S,hd,false,The Essential Programming Concepts For Learnin...,626,"[Remember, you can use you.com's search comple..."
1,4_VtMWJSo1o,Ken Jee,What happens when you put 19 data nerds in a h...,"[Data Science, Ken Jee, Machine Learning, data...",2022-10-07T13:00:04Z,9024,None,55,PT7M17S,hd,false,The Data Content House: What You Missed,312,"[Imagine missing the hot tub stream 🥺, How muc..."
2,OybXWl3IWvI,Ken Jee,#DataScience #kenjee \nGet your 57% discount ...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-29T20:40:31Z,39098,None,112,PT11M24S,hd,false,Is Data Science A Good Career?,1321,[Thanks for watching everyone! What do you thi...
3,nRHPQ5ZeB5Y,Ken Jee,Watch the whole episode here: https://brightda...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-27T17:21:13Z,3825,None,21,PT58S,hd,false,IRON ANALYST (Teaser) #shorts,244,"[This is awesome !!, The title will ""the papay..."
4,0JWC4M0Qhqc,Ken Jee,#DataScience #KenJee #brightdata #brightdataho...,"[Data Science, Ken Jee, Machine Learning, data...",2022-08-29T13:00:01Z,14684,None,127,PT5M25S,hd,false,When a New Data Scientist Joins The Team,669,"[Why is Alex so mad??, This is revolutionary t..."
5,oNvyvYGw5n4,Ken Jee,"Your favorite data scientists, data engineers,...","[Data Science, Ken Jee, Machine Learning, Spor...",2022-08-05T20:20:04Z,10086,None,33,PT1H10M20S,hd,false,State of Data Science - Web Data,356,[This is great 👍 thanks ladies and gentlemen 😉...
6,GaZRuchRCyw,Ken Jee,Join your favorite data science creators to ta...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-08-04T18:34:49Z,9700,None,38,PT1H5S,hd,false,Data Science Town Hall - State of Data Science,375,[Look at those nerds making us feel proud abou...
7,EBjYqC3aNTA,Ken Jee,How would I learn to code if I had to start ov...,"[Data Science, Ken Jee, Machine Learning, data...",2022-07-29T14:31:33Z,13053,None,45,PT11M2S,hd,false,The Programming Roadmap For Data Science,736,"[To get things started, I would like to do a p..."
8,QMP858aZcow,Ken Jee,#datascience #KenJee #machinelearning \nI wal...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-06-27T13:00:10Z,34374,None,85,PT7M28S,hd,false,5 Impactful Data Science Projects For Your Por...,1647,[Thanks for watching everyone! Sorry for the b...
9,0ItYIoOrrUs,Ken Jee,What happens when Machine Learning and Basebal...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-06-10T13:00:00Z,6919,None,68,PT12M46S,hd,false,Machine Learning Saves My Baseball Career?,321,[Special thanks to SAS for having me out at th...

In [73]:
final_df.tail(10)

,video_id,channelTitle,description,tags,publishedAt,viewCount,favouriteCount,commentCount,duration,definition,caption,title,likeCount,comments
8627,YIH7aWgkxPI,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing Mi...,"[Valentín, Elizalde, Amante, Fonovisa, Latin, ...",2015-07-10T07:00:01Z,24005475,None,1513,PT3M33S,sd,false,Valentín Elizalde - Mi Amante (Chryron),66580,[Valentín Elizalde dijo en una entrevista que ...
8628,BJhj7KrrPSg,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing Ve...,"[Valentín, Elizalde, Vete, Ya, Fonovisa, Latin...",2015-07-10T07:00:00Z,155777418,None,13635,PT2M38S,sd,false,Valentín Elizalde - Vete Ya (Chyron),822151,"[Cómo me duele esta rola ;C, Muy linda cansion..."
8629,FrNTpDH5ruQ,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing Ve...,"[Valentín, Elizalde, Vencedor, Fonovisa, Latin...",2015-07-10T07:00:00Z,55593629,None,5542,PT3M10S,sd,false,Valentín Elizalde - Vencedor (Chyron),218024,"[😿💔, Sigo oyendo a uno de los creadores de mi ..."
8630,KlOvc74IbuU,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing Na...,"[Valentín, Elizalde, Nada, Fonovisa, Latin, Re...",2015-06-16T07:00:00Z,29557448,None,2042,PT3M56S,sd,false,Valentín Elizalde - Nada,109676,[Ah este gallo no lo mato el corrido como dice...
8631,4GufI9pKWFI,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing Vo...,"[Valentín, Elizalde, Volveré, Amar, Fonovisa, ...",2015-06-04T07:00:00Z,134178482,None,10435,PT4M4S,sd,false,Valentín Elizalde - Volveré A Amar,454626,"[gallo de oro jamás te olvidaremos, Un éxito y..."
8632,1wauorb3vyg,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing So...,"[Valentín, Elizalde, Soy, Así, Fonovisa, Latin...",2015-05-15T07:00:01Z,108326606,None,9463,PT3M38S,sd,false,Valentín Elizalde - Soy Así (Chyron),432980,[Ah este gallo no lo mato el corrido como dice...
8633,nnrp3drhw0k,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing Lo...,"[Valentín, Elizalde, Lobo, Domesticado, Regio,...",2011-02-18T17:45:06Z,44589484,None,3967,PT2M57S,sd,false,Valentín Elizalde - Lobo Domesticado,172615,"[buena Valentin eres unico, Se la dedico ami ..."
8634,PK1Pwx8y8GI,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing La...,"[Valentín, Elizalde, La, Más, Deseada, Fonovis...",2010-12-23T15:04:29Z,42504840,None,3248,PT3M,sd,false,Valentín Elizalde - La Más Deseada,144422,[La vanidosa que al sentirse amada 🎶 hace que ...
8635,Yqpj6ig-OUc,ValentinElizaldeVEVO,Music video by Valentin Elizalde performing Te...,"[Valentin, Elizalde, Int'l, Latin, America, Va...",2009-11-30T17:32:12Z,83384402,None,6956,PT3M12S,sd,false,Valentín Elizalde - Te Quiero Así,390011,"[Ese Tano me da muy mala espina, me cae gordo...."
8636,tE11Hc8Bqwo,ValentinElizaldeVEVO,Music video by Valentin Elizalde performing Co...,"[Valentin, Elizalde, Int'l, Latin, America, ve...",2009-11-22T11:03:17Z,27118995,None,2285,PT3M54S,sd,false,Valentín Elizalde - Como Me Duele,94568,"[Por q tuvo q morir tan pronto, Valentin Eliza..."

## Data Pre-processing

In [74]:
import numpy as np
final_df['comments'].replace('', np.nan, inplace=True)

In [75]:
final_df.isnull().any()

video_id          False
channelTitle      False
description       False
tags               True
publishedAt       False
viewCount         False
favouriteCount     True
commentCount      False
duration          False
definition        False
caption           False
title             False
likeCount          True
comments          False
dtype: bool

In [76]:
final1 = final_df

In [77]:
final1.dtypes

video_id          object
channelTitle      object
description       object
tags              object
publishedAt       object
viewCount         object
favouriteCount    object
commentCount      object
duration          object
definition        object
caption           object
title             object
likeCount         object
comments          object
dtype: object

In [78]:
numeric_cols = ['viewCount', 'likeCount', 'favouriteCount', 'commentCount']
final1[numeric_cols] = final1[numeric_cols].apply(pd.to_numeric, errors = 'coerce', axis = 1)

In [79]:
final1['publishedAt'] = final1['publishedAt'].apply(lambda x: parser.parse(x)) 
final1['pushblishDayName'] = final1['publishedAt'].apply(lambda x: x.strftime("%A"))

In [80]:
final1['tagCount'] = final1['tags'].apply(lambda x: 0 if x is None else len(x))

In [81]:
final1.isnull().any()

video_id            False
channelTitle        False
description         False
tags                 True
publishedAt         False
viewCount           False
favouriteCount       True
commentCount        False
duration            False
definition          False
caption             False
title               False
likeCount            True
comments            False
pushblishDayName    False
tagCount            False
dtype: bool

In [82]:
final2=final1.dropna()

In [83]:
final1.head()

,video_id,channelTitle,description,tags,publishedAt,viewCount,favouriteCount,commentCount,duration,definition,caption,title,likeCount,comments,pushblishDayName,tagCount
0,3NJOWWvNK3I,Ken Jee,Programming / Coding is one of the most import...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-11-14 13:00:02+00:00,14707.0,NaN,41.0,PT13M54S,hd,false,The Essential Programming Concepts For Learnin...,626.0,"[Remember, you can use you.com's search comple...",Monday,13
1,4_VtMWJSo1o,Ken Jee,What happens when you put 19 data nerds in a h...,"[Data Science, Ken Jee, Machine Learning, data...",2022-10-07 13:00:04+00:00,9024.0,NaN,55.0,PT7M17S,hd,false,The Data Content House: What You Missed,312.0,"[Imagine missing the hot tub stream 🥺, How muc...",Friday,14
2,OybXWl3IWvI,Ken Jee,#DataScience #kenjee \nGet your 57% discount ...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-29 20:40:31+00:00,39098.0,NaN,112.0,PT11M24S,hd,false,Is Data Science A Good Career?,1321.0,[Thanks for watching everyone! What do you thi...,Thursday,11
3,nRHPQ5ZeB5Y,Ken Jee,Watch the whole episode here: https://brightda...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-27 17:21:13+00:00,3825.0,NaN,21.0,PT58S,hd,false,IRON ANALYST (Teaser) #shorts,244.0,"[This is awesome !!, The title will ""the papay...",Tuesday,7
4,0JWC4M0Qhqc,Ken Jee,#DataScience #KenJee #brightdata #brightdataho...,"[Data Science, Ken Jee, Machine Learning, data...",2022-08-29 13:00:01+00:00,14684.0,NaN,127.0,PT5M25S,hd,false,When a New Data Scientist Joins The Team,669.0,"[Why is Alex so mad??, This is revolutionary t...",Monday,12

In [84]:
final2=final1

In [85]:
final2

,video_id,channelTitle,description,tags,publishedAt,viewCount,favouriteCount,commentCount,duration,definition,caption,title,likeCount,comments,pushblishDayName,tagCount
0,3NJOWWvNK3I,Ken Jee,Programming / Coding is one of the most import...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-11-14 13:00:02+00:00,14707.0,NaN,41.0,PT13M54S,hd,false,The Essential Programming Concepts For Learnin...,626.0,"[Remember, you can use you.com's search comple...",Monday,13
1,4_VtMWJSo1o,Ken Jee,What happens when you put 19 data nerds in a h...,"[Data Science, Ken Jee, Machine Learning, data...",2022-10-07 13:00:04+00:00,9024.0,NaN,55.0,PT7M17S,hd,false,The Data Content House: What You Missed,312.0,"[Imagine missing the hot tub stream 🥺, How muc...",Friday,14
2,OybXWl3IWvI,Ken Jee,#DataScience #kenjee \nGet your 57% discount ...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-29 20:40:31+00:00,39098.0,NaN,112.0,PT11M24S,hd,false,Is Data Science A Good Career?,1321.0,[Thanks for watching everyone! What do you thi...,Thursday,11
3,nRHPQ5ZeB5Y,Ken Jee,Watch the whole episode here: https://brightda...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-27 17:21:13+00:00,3825.0,NaN,21.0,PT58S,hd,false,IRON ANALYST (Teaser) #shorts,244.0,"[This is awesome !!, The title will ""the papay...",Tuesday,7
4,0JWC4M0Qhqc,Ken Jee,#DataScience #KenJee #brightdata #brightdataho...,"[Data Science, Ken Jee, Machine Learning, data...",2022-08-29 13:00:01+00:00,14684.0,NaN,127.0,PT5M25S,hd,false,When a New Data Scientist Joins The Team,669.0,"[Why is Alex so mad??, This is revolutionary t...",Monday,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8632,1wauorb3vyg,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing So...,"[Valentín, Elizalde, Soy, Así, Fonovisa, Latin...",2015-05-15 07:00:01+00:00,108326606.0,NaN,9463.0,PT3M38S,sd,false,Valentín Elizalde - Soy Así (Chyron),432980.0,[Ah este gallo no lo mato el corrido como dice...,Friday,9
8633,nnrp3drhw0k,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing Lo...,"[Valentín, Elizalde, Lobo, Domesticado, Regio,...",2011-02-18 17:45:06+00:00,44589484.0,NaN,3967.0,PT2M57S,sd,false,Valentín Elizalde - Lobo Domesticado,172615.0,"[buena Valentin eres unico, Se la dedico ami ...",Friday,9
8634,PK1Pwx8y8GI,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing La...,"[Valentín, Elizalde, La, Más, Deseada, Fonovis...",2010-12-23 15:04:29+00:00,42504840.0,NaN,3248.0,PT3M,sd,false,Valentín Elizalde - La Más Deseada,144422.0,[La vanidosa que al sentirse amada 🎶 hace que ...,Thursday,13
8635,Yqpj6ig-OUc,ValentinElizaldeVEVO,Music video by Valentin Elizalde performing Te...,"[Valentin, Elizalde, Int'l, Latin, America, Va...",2009-11-30 17:32:12+00:00,83384402.0,NaN,6956.0,PT3M12S,sd,false,Valentín Elizalde - Te Quiero Así,390011.0,"[Ese Tano me da muy mala espina, me cae gordo....",Monday,9
8636,tE11Hc8Bqwo,ValentinElizaldeVEVO,Music video by Valentin Elizalde performing Co...,"[Valentin, Elizalde, Int'l, Latin, America, ve...",2009-11-22 11:03:17+00:00,27118995.0,NaN,2285.0,PT3M54S,sd,false,Valentín Elizalde - Como Me Duele,94568.0,"[Por q tuvo q morir tan pronto, Valentin Eliza...",Sunday,12

In [86]:
final2=final2.drop(['favouriteCount'], axis=1)
final2

,video_id,channelTitle,description,tags,publishedAt,viewCount,commentCount,duration,definition,caption,title,likeCount,comments,pushblishDayName,tagCount
0,3NJOWWvNK3I,Ken Jee,Programming / Coding is one of the most import...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-11-14 13:00:02+00:00,14707.0,41.0,PT13M54S,hd,false,The Essential Programming Concepts For Learnin...,626.0,"[Remember, you can use you.com's search comple...",Monday,13
1,4_VtMWJSo1o,Ken Jee,What happens when you put 19 data nerds in a h...,"[Data Science, Ken Jee, Machine Learning, data...",2022-10-07 13:00:04+00:00,9024.0,55.0,PT7M17S,hd,false,The Data Content House: What You Missed,312.0,"[Imagine missing the hot tub stream 🥺, How muc...",Friday,14
2,OybXWl3IWvI,Ken Jee,#DataScience #kenjee \nGet your 57% discount ...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-29 20:40:31+00:00,39098.0,112.0,PT11M24S,hd,false,Is Data Science A Good Career?,1321.0,[Thanks for watching everyone! What do you thi...,Thursday,11
3,nRHPQ5ZeB5Y,Ken Jee,Watch the whole episode here: https://brightda...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-27 17:21:13+00:00,3825.0,21.0,PT58S,hd,false,IRON ANALYST (Teaser) #shorts,244.0,"[This is awesome !!, The title will ""the papay...",Tuesday,7
4,0JWC4M0Qhqc,Ken Jee,#DataScience #KenJee #brightdata #brightdataho...,"[Data Science, Ken Jee, Machine Learning, data...",2022-08-29 13:00:01+00:00,14684.0,127.0,PT5M25S,hd,false,When a New Data Scientist Joins The Team,669.0,"[Why is Alex so mad??, This is revolutionary t...",Monday,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8632,1wauorb3vyg,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing So...,"[Valentín, Elizalde, Soy, Así, Fonovisa, Latin...",2015-05-15 07:00:01+00:00,108326606.0,9463.0,PT3M38S,sd,false,Valentín Elizalde - Soy Así (Chyron),432980.0,[Ah este gallo no lo mato el corrido como dice...,Friday,9
8633,nnrp3drhw0k,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing Lo...,"[Valentín, Elizalde, Lobo, Domesticado, Regio,...",2011-02-18 17:45:06+00:00,44589484.0,3967.0,PT2M57S,sd,false,Valentín Elizalde - Lobo Domesticado,172615.0,"[buena Valentin eres unico, Se la dedico ami ...",Friday,9
8634,PK1Pwx8y8GI,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing La...,"[Valentín, Elizalde, La, Más, Deseada, Fonovis...",2010-12-23 15:04:29+00:00,42504840.0,3248.0,PT3M,sd,false,Valentín Elizalde - La Más Deseada,144422.0,[La vanidosa que al sentirse amada 🎶 hace que ...,Thursday,13
8635,Yqpj6ig-OUc,ValentinElizaldeVEVO,Music video by Valentin Elizalde performing Te...,"[Valentin, Elizalde, Int'l, Latin, America, Va...",2009-11-30 17:32:12+00:00,83384402.0,6956.0,PT3M12S,sd,false,Valentín Elizalde - Te Quiero Así,390011.0,"[Ese Tano me da muy mala espina, me cae gordo....",Monday,9
8636,tE11Hc8Bqwo,ValentinElizaldeVEVO,Music video by Valentin Elizalde performing Co...,"[Valentin, Elizalde, Int'l, Latin, America, ve...",2009-11-22 11:03:17+00:00,27118995.0,2285.0,PT3M54S,sd,false,Valentín Elizalde - Como Me Duele,94568.0,"[Por q tuvo q morir tan pronto, Valentin Eliza...",Sunday,12

In [87]:
final2['compound'] = ''
final2['negative'] = ''
final2['neutral'] = ''
final2['positive'] = ''
final2.head()

,video_id,channelTitle,description,tags,publishedAt,viewCount,commentCount,duration,definition,caption,title,likeCount,comments,pushblishDayName,tagCount,compound,negative,neutral,positive
0,3NJOWWvNK3I,Ken Jee,Programming / Coding is one of the most import...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-11-14 13:00:02+00:00,14707.0,41.0,PT13M54S,hd,false,The Essential Programming Concepts For Learnin...,626.0,"[Remember, you can use you.com's search comple...",Monday,13,,,,
1,4_VtMWJSo1o,Ken Jee,What happens when you put 19 data nerds in a h...,"[Data Science, Ken Jee, Machine Learning, data...",2022-10-07 13:00:04+00:00,9024.0,55.0,PT7M17S,hd,false,The Data Content House: What You Missed,312.0,"[Imagine missing the hot tub stream 🥺, How muc...",Friday,14,,,,
2,OybXWl3IWvI,Ken Jee,#DataScience #kenjee \nGet your 57% discount ...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-29 20:40:31+00:00,39098.0,112.0,PT11M24S,hd,false,Is Data Science A Good Career?,1321.0,[Thanks for watching everyone! What do you thi...,Thursday,11,,,,
3,nRHPQ5ZeB5Y,Ken Jee,Watch the whole episode here: https://brightda...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-27 17:21:13+00:00,3825.0,21.0,PT58S,hd,false,IRON ANALYST (Teaser) #shorts,244.0,"[This is awesome !!, The title will ""the papay...",Tuesday,7,,,,
4,0JWC4M0Qhqc,Ken Jee,#DataScience #KenJee #brightdata #brightdataho...,"[Data Science, Ken Jee, Machine Learning, data...",2022-08-29 13:00:01+00:00,14684.0,127.0,PT5M25S,hd,false,When a New Data Scientist Joins The Team,669.0,"[Why is Alex so mad??, This is revolutionary t...",Monday,12,,,,

In [88]:
final3=final2

In [90]:
j=0
while j<=8636:
  final3['comments'][j]=''.join(final3['comments'][j])
  j+=1
final3

<ipython-input-90-385323d7671a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final3['comments'][j]=''.join(final3['comments'][j])

,video_id,channelTitle,description,tags,publishedAt,viewCount,commentCount,duration,definition,caption,title,likeCount,comments,pushblishDayName,tagCount,compound,negative,neutral,positive
0,3NJOWWvNK3I,Ken Jee,Programming / Coding is one of the most import...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-11-14 13:00:02+00:00,14707.0,41.0,PT13M54S,hd,false,The Essential Programming Concepts For Learnin...,626.0,"Remember, you can use you.com's search complet...",Monday,13,,,,
1,4_VtMWJSo1o,Ken Jee,What happens when you put 19 data nerds in a h...,"[Data Science, Ken Jee, Machine Learning, data...",2022-10-07 13:00:04+00:00,9024.0,55.0,PT7M17S,hd,false,The Data Content House: What You Missed,312.0,Imagine missing the hot tub stream 🥺How much a...,Friday,14,,,,
2,OybXWl3IWvI,Ken Jee,#DataScience #kenjee \nGet your 57% discount ...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-29 20:40:31+00:00,39098.0,112.0,PT11M24S,hd,false,Is Data Science A Good Career?,1321.0,Thanks for watching everyone! What do you thin...,Thursday,11,,,,
3,nRHPQ5ZeB5Y,Ken Jee,Watch the whole episode here: https://brightda...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-27 17:21:13+00:00,3825.0,21.0,PT58S,hd,false,IRON ANALYST (Teaser) #shorts,244.0,"This is awesome !!The title will ""the papaya m...",Tuesday,7,,,,
4,0JWC4M0Qhqc,Ken Jee,#DataScience #KenJee #brightdata #brightdataho...,"[Data Science, Ken Jee, Machine Learning, data...",2022-08-29 13:00:01+00:00,14684.0,127.0,PT5M25S,hd,false,When a New Data Scientist Joins The Team,669.0,Why is Alex so mad??This is revolutionary teac...,Monday,12,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8632,1wauorb3vyg,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing So...,"[Valentín, Elizalde, Soy, Así, Fonovisa, Latin...",2015-05-15 07:00:01+00:00,108326606.0,9463.0,PT3M38S,sd,false,Valentín Elizalde - Soy Así (Chyron),432980.0,Ah este gallo no lo mato el corrido como dicen...,Friday,9,,,,
8633,nnrp3drhw0k,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing Lo...,"[Valentín, Elizalde, Lobo, Domesticado, Regio,...",2011-02-18 17:45:06+00:00,44589484.0,3967.0,PT2M57S,sd,false,Valentín Elizalde - Lobo Domesticado,172615.0,buena Valentin eres unicoSe la dedico ami mor...,Friday,9,,,,
8634,PK1Pwx8y8GI,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing La...,"[Valentín, Elizalde, La, Más, Deseada, Fonovis...",2010-12-23 15:04:29+00:00,42504840.0,3248.0,PT3M,sd,false,Valentín Elizalde - La Más Deseada,144422.0,La vanidosa que al sentirse amada 🎶 hace que e...,Thursday,13,,,,
8635,Yqpj6ig-OUc,ValentinElizaldeVEVO,Music video by Valentin Elizalde performing Te...,"[Valentin, Elizalde, Int'l, Latin, America, Va...",2009-11-30 17:32:12+00:00,83384402.0,6956.0,PT3M12S,sd,false,Valentín Elizalde - Te Quiero Así,390011.0,"Ese Tano me da muy mala espina, me cae gordo. ...",Monday,9,,,,
8636,tE11Hc8Bqwo,ValentinElizaldeVEVO,Music video by Valentin Elizalde performing Co...,"[Valentin, Elizalde, Int'l, Latin, America, ve...",2009-11-22 11:03:17+00:00,27118995.0,2285.0,PT3M54S,sd,false,Valentín Elizalde - Como Me Duele,94568.0,Por q tuvo q morir tan prontoValentin Elizalde...,Sunday,12,,,,

In [91]:
# importing requires libraries to analyze the sentiments
import nltk
from nltk.classify import NaiveBayesClassifier
from nltk.corpus import subjectivity
from nltk.sentiment import SentimentAnalyzer
from nltk.sentiment.util import *
for i in ['gutenberg','punkt','vader_lexicon']:              
  nltk.download(str(i))
from nltk.sentiment.vader import SentimentIntensityAnalyzer as vader
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import unicodedata

# instantiating the Sentiment Analyzer
sid = SentimentIntensityAnalyzer()


final3['compound'] = final3['comments'].apply(lambda x: sid.polarity_scores(x)['compound'])
final3['negative'] = final3['comments'].apply(lambda x: sid.polarity_scores(x)['neg'])
final3['neutral'] = final3['comments'].apply(lambda x: sid.polarity_scores(x)['neu'])
final3['positive'] = final3['comments'].apply(lambda x: sid.polarity_scores(x)['pos'])


final2.head()

[nltk_data] Downloading package gutenberg to /root/nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

,video_id,channelTitle,description,tags,publishedAt,viewCount,commentCount,duration,definition,caption,title,likeCount,comments,pushblishDayName,tagCount,compound,negative,neutral,positive
0,3NJOWWvNK3I,Ken Jee,Programming / Coding is one of the most import...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-11-14 13:00:02+00:00,14707.0,41.0,PT13M54S,hd,false,The Essential Programming Concepts For Learnin...,626.0,"Remember, you can use you.com's search complet...",Monday,13,0.9853,0.029,0.806,0.165
1,4_VtMWJSo1o,Ken Jee,What happens when you put 19 data nerds in a h...,"[Data Science, Ken Jee, Machine Learning, data...",2022-10-07 13:00:04+00:00,9024.0,55.0,PT7M17S,hd,false,The Data Content House: What You Missed,312.0,Imagine missing the hot tub stream 🥺How much a...,Friday,14,0.9847,0.030,0.775,0.195
2,OybXWl3IWvI,Ken Jee,#DataScience #kenjee \nGet your 57% discount ...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-29 20:40:31+00:00,39098.0,112.0,PT11M24S,hd,false,Is Data Science A Good Career?,1321.0,Thanks for watching everyone! What do you thin...,Thursday,11,0.9824,0.000,0.804,0.196
3,nRHPQ5ZeB5Y,Ken Jee,Watch the whole episode here: https://brightda...,"[Data Science, Ken Jee, Machine Learning, Spor...",2022-09-27 17:21:13+00:00,3825.0,21.0,PT58S,hd,false,IRON ANALYST (Teaser) #shorts,244.0,"This is awesome !!The title will ""the papaya m...",Tuesday,7,0.9423,0.000,0.784,0.216
4,0JWC4M0Qhqc,Ken Jee,#DataScience #KenJee #brightdata #brightdataho...,"[Data Science, Ken Jee, Machine Learning, data...",2022-08-29 13:00:01+00:00,14684.0,127.0,PT5M25S,hd,false,When a New Data Scientist Joins The Team,669.0,Why is Alex so mad??This is revolutionary teac...,Monday,12,0.9929,0.017,0.630,0.353

In [94]:
final2.tail()

,video_id,channelTitle,description,tags,publishedAt,viewCount,commentCount,duration,definition,caption,title,likeCount,comments,pushblishDayName,tagCount,compound,negative,neutral,positive
8632,1wauorb3vyg,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing So...,"[Valentín, Elizalde, Soy, Así, Fonovisa, Latin...",2015-05-15 07:00:01+00:00,108326606.0,9463.0,PT3M38S,sd,false,Valentín Elizalde - Soy Así (Chyron),432980.0,Ah este gallo no lo mato el corrido como dicen...,Friday,9,-0.8893,0.047,0.943,0.011
8633,nnrp3drhw0k,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing Lo...,"[Valentín, Elizalde, Lobo, Domesticado, Regio,...",2011-02-18 17:45:06+00:00,44589484.0,3967.0,PT2M57S,sd,false,Valentín Elizalde - Lobo Domesticado,172615.0,buena Valentin eres unicoSe la dedico ami mor...,Friday,9,-0.2960,0.055,0.911,0.034
8634,PK1Pwx8y8GI,ValentinElizaldeVEVO,Music video by Valentín Elizalde performing La...,"[Valentín, Elizalde, La, Más, Deseada, Fonovis...",2010-12-23 15:04:29+00:00,42504840.0,3248.0,PT3M,sd,false,Valentín Elizalde - La Más Deseada,144422.0,La vanidosa que al sentirse amada 🎶 hace que e...,Thursday,13,0.0000,0.000,1.000,0.000
8635,Yqpj6ig-OUc,ValentinElizaldeVEVO,Music video by Valentin Elizalde performing Te...,"[Valentin, Elizalde, Int'l, Latin, America, Va...",2009-11-30 17:32:12+00:00,83384402.0,6956.0,PT3M12S,sd,false,Valentín Elizalde - Te Quiero Así,390011.0,"Ese Tano me da muy mala espina, me cae gordo. ...",Monday,9,0.4939,0.068,0.837,0.094
8636,tE11Hc8Bqwo,ValentinElizaldeVEVO,Music video by Valentin Elizalde performing Co...,"[Valentin, Elizalde, Int'l, Latin, America, ve...",2009-11-22 11:03:17+00:00,27118995.0,2285.0,PT3M54S,sd,false,Valentín Elizalde - Como Me Duele,94568.0,Por q tuvo q morir tan prontoValentin Elizalde...,Sunday,12,-0.5267,0.043,0.957,0.000

In [96]:
with open('/data/Dataset_Group_8.csv', 'w') as csv_file:
    final2.to_csv(path_or_buf=csv_file)